.header-blog > h1 {
  color: black;
}

p {
  display: flex;
  justify-content: center;
  text-align: center;
}

.blogposts-full-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  font-size: 20px;
  padding-top: 10px;
}

.post {
  background-color: #6b8053;
  color: #fff;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

.post img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.post p {
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
}

.fetched-posts-full {
  display: flex;
}
